table,tbody {
  display: block;
  height: auto;
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
  cursor: default;
}


tbody {
  overflow-y: scroll;
}

table thead,
tbody tr {
  display: table;
  width: calc(100% - 1em);
  table-layout: fixed;
}

table thead {
  width: calc(100% - 2em);
}

.red {
  color: red;  
}

.greenyellow {
  color: green;  
}

.w70 {
  width: 70px;;
}

.w170 {
  width: 170px;;
}

.w100 {
  width: 100px;;
}

.w250 {
  width: 250px;;
}

table thead {
  background: 'gainsboro';
}

table tbody td, table thead tr td {
  border: 1px solid;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #eee;
}
tr:nth-child(odd) {
  background-color: #fff;
}  